extends layout

block content
  h2 Inregistrare
  div.alert.alert-warning(role='alert') Nu ati fost identificat in baza de date, deci va trebui sa va inregistrati.
  form(method='POST' action='register/submit')
    div.form-group
      label(for='nume') Nume:
      input#nume.form-control(type='text', placeholder='Nume' name='nume', required)
    div.form-group
      label(for='prenume') Prenume:
      input#prenume.form-control(type='text', placeholder='Prenume' name='prenume', required)
    div.form-group
      label(for='telefon') Telefon:
      input#telefon.form-control(type='tel', placeholder='Telefon' name='telefon', required, value=telefon)
    div.form-group
      label(for='email') Email:
      input#email.form-control(type='email', placeholder='Email' name='email', required)
    div.form-group
      label(for='companie') Companie:
      input#companie.form-control(type='text', placeholder='Companie' name='companie', required)
    div.form-group
      button.btn.btn-default(type='submit') Conectare
        